{% load static %}

<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'bikenorthamerica/style.css' %}">

<h1><em><span id="red">Bike</span> <span id="white">North</span> <span id="blue">America</span></em></h1>
